# Example environment variables for local development.
# Agrega tus datos aquí, y guarda como .env

# Mongo DB 
DB_URL=mongodb://<usuario>:<db_password>@..... 

PORT=3000

# Jason Web Token
JWT_SECRET=<Generated Key>

# Cloudinary
CLOUDINARY_CLOUD_NAME=<Your Cloudinary Cloud Name>
CLOUDINARY_API_KEY=<Your Cloudinary API key>
CLOUDINARY_API_SECRET=<Your Cloudinary API Secret> 