/node_modules
# /data             Normalmente no se commitea
# /utils/seeds      Normalmente no se commitea
.env

# Files to create transcriptions of my code
project_concanator.py
project_context.txt

docs/chats
!docs/justificacion-requisitos.md

src/assets